.CallTable {
	padding-top: 3rem;
	margin-left: 20%;
	font-weight: 400;
	border: 0;
	overflow: auto;
	height: 82.5vh;
}

.CallQueue {
	font-size: 20px;
}

.Wrapper {
	position: relative;
	width: 70%;
}

.Icon {
	position: absolute;
	right: 0;
	bottom: -1.25rem;
}
