.CallTable {
	margin-top: 3rem;
	margin-left: 20%;
	font-weight: 400;
}

.CallQueue {
	font-size: 2rem;
	font-size: 20px;
}

.Wrapper {
	position: relative;
	width: 70%;
}

.Icon {
	position: absolute;
	right: 0;
	bottom: -1.25rem;
}
