.callScreenHeaderRoot {
	height: 6vh;
	width: 100%;
	background-color: #263238;
	color: white;
	margin: 0;
	border: 0;
	padding: 0;
}
.logo {
	margin-left: 1rem;
	margin-top: 0.2rem;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	cursor: pointer;
}
.avatarDisplayPicture {
	margin-top: 0.2rem;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	cursor: pointer;
	vertical-align: middle;
}
.personName {
	margin-right: 1rem;
	margin-left: 0.5rem;
}
.personInfo {
	padding-left: 0.5rem;
	/* background-color: #151b1f; */
}
.callHead {
	height: 10vh;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 0;
	background-color: rgb(8, 192, 171);
	display: flex;
	flex-direction: row;
}
.callHead p {
	margin: 0 0 0 1rem;
	padding-top: 0.5rem;
	color: white;
	font-size: 1rem;
}
.callInfo {
	flex-grow: 0;
}
.utilityIcons {
	flex-grow: 0.5;
	display: flex;
	flex-direction: row;
	margin-right: 30px;
}
.inlineLeft {
	display: inline;
	float: left;
}
.inlineRight {
	display: inline;
	float: right;
}

.duration {
	font-size: 2rem !important;
	padding: 0 !important;
}

.endCallParent {
	flex-grow: 4.2;
	display: flex;
	justify-content: center;
	align-items: center;
}
.endCallParent svg {
	padding: 0.5rem;
}
.endCall {
	background-color: red;
	color: white;
	border-radius: 50%;
	cursor: pointer;
	border: 2px solid white;
}
.endCall[disabled] {
	background-color: grey;
	cursor: not-allowed;
}
.recordingDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-grow: 1;
}
.recording {
	color: red;
	border: 2px solid white;
	border-radius: 50%;
	padding: 0.2rem;
}
.muteDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-grow: 1;
}
.mute {
	color: white;
	border: 2px solid white;
	border-radius: 50%;
	padding: 0.2rem;
}
.dialpadDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-grow: 1;
}
.dialpad {
	color: white;
	border: 2px solid white;
	border-radius: 50%;
	padding: 0.3rem;
}

/*.callDuration {
	flex-grow: 2;
	text-align: center;
}
.time {
	color: white;
}
.inlineBlockStyle {
	display: inline-block;
}
.inlineStyle {
	display: inline;
	float: left;
} */
