.IntentSummaryRoot {
	height: 90vh;
	display: inline;
	float: left;
	overflow: auto;
	width: 50%;
	margin: 0;
	border: 0;
	/* padding-top: 20px; */
	box-sizing: border-box;
	border-right: 1px solid white;
	position: relative;
}
::-webkit-scrollbar {
	width: 4px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	background: #888;
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.SaveButtonForSummary {
	position: absolute;
	bottom: 3rem;
	right: 1rem;
	font-size: 13px;
	padding: 1rem;
}

.SaveButtonForSummary button {
	padding: 0.5rem;
	border-radius: 5px;
	border: 0;
	font-size: 17px;
	background-color: rgb(8, 192, 171);
	color: white;
	box-shadow: 2px 2px 2px 2px #b4d1d2;
	cursor: pointer;
}

.SaveButtonForSummary button:hover,
.SaveButtonForSummary button:focus {
	box-shadow: -2px 0px 0px 0px #b4d1d2;
}

.SaveButtonForSummary button:disabled {
	background-color: #d2d8da;
	cursor: not-allowed;
}
