.IntentRoot {
  width: 90%;
  height: 10%;
  margin-left: 5%;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  /* box-shadow: 2px 2px 2px grey; */
  margin-bottom: 5px;
  border: 1px solid lightgrey;
  position: relative;
  border-radius: 5px;
  margin-bottom: 15px;
}

.ActiveRoot {
  box-shadow: 2px 2px 2px 2px #b4d1d2;
}

.IntentRoot:hover {
  cursor: pointer;
}
.IntentHead {
  display: flex;
  background-color: lightgray;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 2% 2% 2% 2%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.IntentBody {
  display: flex;
  flex: 0 0 60%;
  padding: 2% 2% 2% 2%;
  align-items: center;
  background-color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.Accept {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.8rem;
  color: green;
}

.Decline {
  position: absolute;
  top: 1.4rem;
  right: 0;
  font-size: 1.8rem;
  color: red;
}
