.IntentSummaryRoot {
  height: 90vh;
  display: inline;
  float: left;
  overflow: auto;
  width: 50%;
  margin: 0;
  border: 0;
  padding-top: 20px;
  box-sizing: border-box;
  border-right: 1px solid white;
  position: relative;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.SaveButtonForSummary {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 13px;
  padding: 1rem;
}
