.Form {
  margin: 2rem 2rem;
}

.InputForm {
  margin-top: 2rem;
}

.InputForm div {
  width: 25rem;
}

.Label {
  padding-top: 1rem;
  padding-right: 1rem;
  margin: 0;
  display: inline-block;
  width: 10rem;
}

.SaveButton {
  margin-top: 2rem;
  font-size: 1rem;
  border-radius: 0.2rem;
  border: 0;
  margin-left: 12rem;
  padding: 0.4rem;
  background-color: #85c1e9;
}
