.TimelineRoot {
	height: 84vh;
	display: inline;
	float: left;
	overflow: auto;
	width: 50%;
	margin: 0;
	border: 0;
	padding-top: 20px;
	box-sizing: border-box;
	border-right: 1px solid white;
}

.NoHistory {
  text-align: center;
}

.NoHistory img {
  height: 80%;
  width: 80%;
  /* padding-left: 8%; */
}

.NoHistory p {
  font-size: 13px;
}
